<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="Mihelcic.Net.Visio.Diagrammer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="ApplSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup><userSettings>
        <Mihelcic.Net.Visio.Diagrammer.Properties.Settings>
            <setting name="DomainDrawingFile" serializeAs="String">
                <value>%DOCUMENTS%\AD Domains.vdx</value>
            </setting>
            <setting name="SiteDrawingFile" serializeAs="String">
                <value>%DOCUMENTS%\AD Sites.vdx</value>
            </setting>
            <setting name="LogFilePath" serializeAs="String">
                <value>%DOCUMENTS%\ADTD.log</value>
            </setting>
            <setting name="ExportFilePath" serializeAs="String">
                <value>%DOCUMENTS%\ADTD-Trace.txt</value>
            </setting>
            <setting name="VerboseTrace" serializeAs="String">
                <value>False</value>
            </setting>
        </Mihelcic.Net.Visio.Diagrammer.Properties.Settings>
    </userSettings>
    <applicationSettings>
      <ApplSettings>
            <setting name="TemplateFile" serializeAs="String">
                <value>Resources\Template.vtx</value>
            </setting>
            <setting name="StencilFile" serializeAs="String">
                <value>Resources\Stencil.vsx</value>
            </setting>
            <setting name="Readers" serializeAs="String">
              <value>
                <Root>
                  <Entry key="Site" value="xxxxx"/>
                </Root>
              </value>
            </setting>
        </ApplSettings>
    </applicationSettings>
</configuration>
